.app{
    width: 100vw;
    max-width: 95%;
    margin: 0 0rem;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full{
    position: relative;
    top: -5rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
}

.texto{
    color: white;
    margin-left: 0.51rem;
    margin-bottom: 0.5rem;
}

.inner{
    display: flex;
}

.item{
    min-width: 19rem;
    min-height: 10rem;
    padding: 0.2rem;
    transition: transform 300ms ease 100ms;
    
}

.item img{
    width: 19rem;
    height: 10rem;
    border-radius: 0.1rem;
    pointer-events: none;
}
.gato{
    min-width: 14rem;
    min-height: 17rem;
    padding: 0.5rem;
    transform: transform 200ms ease 100ms
}
.gato img{
    width: 14rem;
    height: 17rem;
    border-radius: 0.1rem;
    pointer-events: none;
}

.carrocel{
    cursor: grab;
    overflow: hidden;
}



.app:hover .item {
    transform: translateX(-5%);
 }

 .item:hover ~ .item {
    transform: translateX(5%);
 }

 .item:hover {
    transform: scale(1.1) !important;
  }


  @media only screen and (max-width: 600px){
    .app{
        width: 100vw;
        max-width: 95%;
        margin: 0 0.5rem;
        min-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .full{
        position: relative;
        top: -3rem;
        margin-top: 1.5rem;
    }
    
    .texto{
        color: white;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
        font-size: 0.5rem;
    }
    
    .inner{
        display: flex;
    }
    
    .item{
        min-width: 8rem;
        min-height: 4rem;
        padding: 0.2rem;
        transition: transform 300ms ease 100ms;
        
    }
    
    .item img{
        width: 8rem;
        height: 4rem;
        border-radius: 0.1rem;
        pointer-events: none;
    }
    .gato{
        min-width: 4rem;
        min-height: 6rem;
        padding: 0.2rem;
        transform: transform 200ms ease 100ms
    }
    .gato img{
        width: 4rem;
        height: 6rem;
        border-radius: 0.1rem;
        pointer-events: none;
    }
    
    .carrocel{
        cursor: grab;
        overflow: hidden;
    }
    
    
    
    .app:hover .item {
        transform: translateX(-5%);
     }
    
     .item:hover ~ .item {
        transform: translateX(5%);
     }
    
     .item:hover {
        transform: scale(1.1) !important;
      }
  }
