.app{
    width: 100vw;
    max-width: 95%;
    margin: 0 2rem;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner{
    display: flex;
}

.item{
    min-width: 19rem;
    min-height: 10rem;
    padding: 0.5rem;
    transition: transform 300ms ease 100ms;
    
}

.item img{
    width: 19rem;
    height: 10rem;
    border-radius: 0.1rem;
    pointer-events: none;
}

.carrocel{
    cursor: grab;
    overflow: hidden;
}



.app:hover .item {
    transform: translateX(-5%);
 }

 .item:hover ~ .item {
    transform: translateX(5%);
 }

 .item:hover {
    transform: scale(1.1) !important;
  }
