.conteudo{
    height: 23rem;
    width: 32rem;
    display: flex;
    flex-direction: column;  
    padding: 2rem;
    gap: 1rem;
    position:relative;
    padding-top: 10rem;
}

.conteudo__img{
    width: 24rem;
    height: 10rem;
}

.conteudo__text{
    color: white;
}

.botoes{
    width: 32rem;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.botao{
    width: 22rem;
    height: 10rem;
    border-radius: 1rem;
}

.botao2{
    width: 13rem;
    height: 3rem; 
    background-color: rgba(187, 187, 187, 0.491);
    border: 0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}


.botao2 h4{
    color: white;
}


@media only screen and (max-width: 600px){
    .conteudo{
        height: 11.5rem;
        width: 12rem;
        display: flex;
        flex-direction: column;  
        padding: 1rem;
        gap: 0.1rem;
        position:relative;
        padding-top: 4rem;
    }

    .conteudo__img{
        width: 11rem;
        height: 5rem;
    }

    .conteudo__text{
        color: white;
        font-size: 0.5rem;
    }

    .botoes{
        width: 12rem;
        height: 2rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    /* .botao{
        width: 5rem;
        height: 1rem;
        font-size: 0.5rem;
        border-radius: 0;
    } */
    
    .botao2{
        width: 5rem;
        height: 1rem; 
        background-color: rgba(187, 187, 187, 0.491);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        font-size: 0.5rem;
        border-radius: 0;
    }
}